.gggggg.u,
.hhh {
  box-shadow: #000 0 0 0 0
}
.h21,
.hhh,
.hhvv,
.x20 {
  opacity: 1
}
.hhh {
  text-shadow: #072284 0 0 0
}
.h21 {
  text-shadow: #000 5px 5px 0;
  font-size: 4em;
  border-right-color: rgba(91,158,174,0);
  border-right-style: double;
  width: 99%;
  border-radius: 0
}
.btns,
.x20 {
  text-shadow: #000 0 0 0
}
.hhvv {
  top: 0;
  bottom: 70px;
  position: relative;
  margin-top: 500px;
  margin-bottom: 100px
}
.bbx,
.ghg {
  position: fixed
}
.x20 {
  background-image: url("../images/Rail-Gate-Styles-collection.png");
  background-repeat: round;
  box-shadow: #000 5px 5px 0 0 inset
}
.btns {
  background-color: #c20505;
  color: #f8feff;
  font-size: 22px;
  border-color: red;
  border-width: 1px
}
.navs {
  height: 80px
}
.jjj {
  background-image: url("../images/Screenshot-2023-09-21-at-8-53-59-pm.png");
  background-repeat: no-repeat
}
.hh {
  box-shadow: #000 10px 5px 0 0
}
.hh2 {
  box-shadow: #2039af 0 0 0 0;
  font-size: 4.5em;
  text-shadow: #b1b7cb 3px 3px 0;
  color: #0a1b93;
  font-weight: 700;
  width: 90%
}
.u {
  box-shadow: #000 0 0 0 0
}
.pad {
  margin-top: 40px
}
.xc {
  background-color: #03034a;
  margin-top: 10px;
  padding: 3em
}
.mb {
  color: #060a0b
}
.mb2 {
  color: #1b2c30
}
.mbh {
  color: #131b1d
}
.bbx {
  top: 0;
  bottom: 0;
  right: 300px;
  margin-right: 4em;
  margin-top: 1em
}
.xpt4 {
  height: 600px;
  margin-top: 0
}
.xro {
  margin-bottom: 50px;
  padding-bottom: 50px;
  margin-top: -90px;
  border-right-color: #77d3ea;
  box-shadow: #2d3d88 0 0 0 0
}
.xxbg {
  background-color: #d3d3dd
}
.xhh3 {
  font-size: 67px
}
.x12mb {
  font-size: 5em;
  width: 5em
}
.py12x {
  margin-bottom: -50px
}
.xtt {
  margin-top: -20px
}
.text-xl.xxl {
  color: #111f22;
  font-size: 33px
}
.ghg {
  background-image: url("../images/Screenshot-2023-09-21-at-8-53-59-pm-png-1695293733168.webp")
}
.xvvv {
  height: 50px
}

