.col2h,
.g {
  max-width: 800px
}
.g {
  width: 800px
}
.s22 {
  color: #0cf;
  font-size: 1em
}
.jjj.s22 {
  font-weight: 900;
  width: 99px
}
.imng {
  margin-right: 5px;
  margin-bottom: 0;
  margin-top: 15px
}
.img2 {
  margin-top: 10px
}
.ppy44 {
  max-height: 600px;
  height: 800px
}

